
<% for reply in replies %>
  <% oddeven = cycle("odd", "even") %>
  <div class="reply-top-<%= oddeven %>">
    <span style="float: right; top-margin: 5px;">
      <%= link_to( t('dc_forum.new_reply'), { controller: 'cmsedit', table: "#{parent_document};dc_reply", 
                   formname: 'reply', action: 'new', ids: parent_id, 
                   reply_to: reply.id}, target: 'iframe_edit') %>
    </span>
    <b><%= reply.subject %></b><br>
    <%= t('dc_forum.replied_by') %>: <%= reply.created_by_name %>, 
    <%= dc_pretty_date(reply.created_at) %>&nbsp;&nbsp;<br><br>
    <div class="reply-body-<%= oddeven %>"><%= reply.body.html_safe %></div>
  </div>
<% end %>

<table id="dc-reply-menu"><tr>
  <td class="dc-link dc-animate" style="white-space: nowrap;">
  <%= link_to( t('dc_forum.new_reply'), { controller: 'cmsedit', table: "#{parent_document};dc_reply", 
               formname: 'reply', action: 'new', ids: parent_id }, 
               target: 'iframe_edit') %>
  </td>
  <td style="text-align: right; width: 100%;"><%= paginate replies %></td>    
</tr></table>
