<div class="wrap">
<div class="news-title">
  <%= title %>
</div>

<%= if session[:edit_mode] > 1 
  dc_link_for_create(controller: 'cmsedit', table: 'dc_news', title: 'dc_blog.new_entry' )
    end %>

<% if news %>
  <div class="news-date"><%= dc_pretty_date(news.created_at) %></div>
  <div class="news-subject"><%= news.subject %></div>
  <div style="clear:both;"></div>

  <div class="news-body"><%= news.body%></div>

  <div class="news-replies">
    <%= render partial: 'dc_reply/reply', formats: [:html], 
               locals: { replies: replies, parent_id: news.id } %>
  </div>

  <iframe id="iframe_edit" name="iframe_edit" scrolling="no"></iframe>
<% else %>
  <br><br><br>Sorry no news. Yet ;-)
<% end %>
</div>
