<div class="wrap">
<%= pp opts; "<div id=\"#{opts[:div_id]}\">".html_safe if opts[:div_id] %>
  
<div class="forum-topics">
  <div id="back-list">
    <%= link_to( t('dc_forum.forums_list'), {path: params[:path]} ) %> / 
    <%= link_to( forum.name, {path: params[:path], forum: forum.id} ) %> 
  </div>
  
  <div id="dc-forum-menu">
    <div class="dc-link">
      <%= link_to( 'Nazaj', {path: params[:path], forum: forum.id}, class: 'dc-animate' ) %>
    </div>
    <div class="dc-link">
      <%= link_to( t('dc_forum.new_reply'), { controller: 'cmsedit', table: 'dc_forum_topic;dc_reply', 
                 form_name: 'dc_reply_public', action: 'new', ids: topic.id, parent_doc: forum.id}, 
                 target: 'iframe_edit', class: 'dc-animate') %>
    </div>
    <div class="dc-link">
      <%= link_to( t('dc_forum.new_topic'), 
          {controller: 'cmsedit', table: 'dc_forum_topic', form_name: 'dc_forum_topic', 
          action: 'new', forum: forum._id}, target: 'iframe_edit', class: 'dc-animate') %>
    </div>
    <div style="text-align: right; width: 100%;"><%= paginate replies %></div>    
  </div>
  
  <h2><%= forum.name %></h2>

  <div class="topic-top"><h3><%= topic.subject %></h3>
    <%= t('dc_forum.created_by') %>: <%= topic.created_by_name %> <%= dc_pretty_date(topic.created_at) %>
  </div>
  
  <div class="topic-body"><%= topic.body.html_safe %></div>
  
  <% for reply in replies %>
    <% oddeven = cycle("odd", "even") %>

    <div class="reply-top-<%= oddeven %>">
      <span style="float: right; top-margin: 5px;">
        <%= link_to( t('dc_forum.new_reply'), { controller: 'cmsedit', table: 'dc_forum_topic;dc_reply', 
                     form_name: 'dc_reply', action: 'new', ids: topic.id, 
                     forum: forum._id, reply_to: reply.id}, target: 'iframe_edit') %>
      </span>
      <b><%= reply.subject %></b><br>
      <%= t('dc_forum.replied_by') %>: 
      <%= reply.created_by_name %>, 
      <%= dc_pretty_date(reply.created_at) %>&nbsp;&nbsp;
    </div>
    <div class="reply-body-<%= oddeven %>"><%= reply.body.html_safe %></div>
  <% end %>
</div>

<iframe id="iframe_edit" name="iframe_edit" scrolling="no"></iframe>
<%= "</div>".html_safe if opts[:div_id] %>
</div>